@import "tailwindcss";

:root {
  --background: #0052FF;
  --foreground: #f1f1f1;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.font-block {
  font-family: var(--font-block-blue);
}

.font-pixel {
  font-family: var(--font-bold-pixels);
}

.font-medo {
  font-family: var(--font-medoreg);
}

.font-qartige {
  font-family: var(--font-qartige);
}

.font-space {
  font-family: var(--font-space);
}


